@import "../../assets/global.scss";

.wrapper-signin {
  @include center;
  @include wrapper;

  .title {
    font-size: $title-font-size;
    color: $page-title-color;
    font-family: $title-font-family;
    margin: 100px 0 50px 0;
  }

  .signin-box {
    @include box;
    background-color: $auth-bg-color;
    width: 90%;
    min-height: 31vh;

    form {
      @include center;
      width: 100%;
      justify-content: center;
      margin-top: 25px;
      
      input {
        @include input-spec;
        margin-top: 15px;
        text-align: center;
      }

      input::placeholder{
        text-align: center;
        color: $placeholder-color;
        font-size: $placeholder-font-size;
      }

      button {
        @include button-spec;
        margin: 20px;
        width: 125px;
        height: 45px;
        color: #fff;
        font-family: $default-font-family;
        font-weight: 700;
        background-color: $button-color;
        cursor: pointer;
      }

      p {
        margin-bottom: 20px;
        color: $sign-up-in-button;
        font-size: 14px;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}