@import "../../../assets//global.scss";

.user-box {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding-left: 8px;
  position: relative;
  z-index: 3;

  div {
    @include image-spec;
    @include center;
    justify-content: center;
    background-color: $bar-color;
    width: 34px;
    height: 34px;
    margin-right: 10px;
    
    img {
      @include image-spec;
      width: 30px;
      height: 30px;
    }
  }

  .username {
    color: #434343;
    font-size: 14px;
    padding: 10px 0 0 0;
    margin: 0;
    font-family: $default-font-family;
    font-weight: 400;
    position: relative;
    width: 100%;
    
    span {
      position: absolute;
      top: 12px;
      right: 15px;
      font-size: 10px;
      color: rgb(129, 129, 129);
    }
  }
}

.bar {
  @include bar;
  margin-left: 5%;
  margin-bottom: 10px;
}