@import "../../assets/global.scss";

.kanji-box {
  @include center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: $kanji-bg-color;
  border-radius: 10px;
  margin: 0 5px;

  .kanji {
    font-size: 24px;
  }
}