@import "../../assets/global.scss";

.profile-wrapper {
  @include center;
  width: 100vw;
  min-height: 100vh;
  padding-top: 70px;
  background-color: $bg-color;
  position: relative;
  
  .bg-image {
    @include center;
    justify-content: center;
    position: relative;
    left: 0;
    
    img{
      width: 100vw;
      height: 20vh;
      object-fit: cover;
    }

    .user-profile-image {
      @include center;
      @include image-spec;
      justify-content: center;
      background-color: #fff;
      position: absolute;
      width: 86px;
      height: 86px;
      
      img {
        @include image-spec;
        width: 82px;
        height: 82px;
      }
    }
  }


  .collections-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    min-height: 170px;
    margin: 0 auto 25px auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);

    .collections-title {
      margin: 10px 0 0 0 ;
      font-family: $default-font-family;
      font-size: 15px;
      color: #434343;
      font-weight: 700;
    }

    >.bar {
      width: 90%;
      margin: -5px 0 0 0;
    }

    >button {
      margin: 0 auto;
      color: #fff;
      font-weight: 700;
      font-size: 12px;
      font-family: $default-font-family;
      height: 25px;
      width: 68px;
    }
  }

  .username {
    font-family: $default-font-family;
    font-weight: 700;
    font-size: 24px;
    margin: 15px;
  }

  .kanjis-wrapper {
    position: relative;
    @include center;
    width: 95%;
    min-height: 30vh;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.25);

    .kanjis-wrapper-title{
      display: flex;
      align-items: center;
      align-self: flex-start;
      margin: 12px 0 10px 20px;
      font-family: $default-font-family;
      font-size: 15px;
      color: #434343;
      font-weight: 700;

      >.review-button {
        @include center;
        position: absolute;
        right: 15px;
        top: 7px;
        border: none;
        justify-content: center;
        width: 60px;
        height: 25px;
        background-color: $button-color;
        color: #fff;
        font-weight: 700;
        font-family: $default-font-family;
        border-radius: 14px;
      }

      >.review-button:disabled {
        background-color: $disabled-button;
      }
    }

    .bar {
      align-self: flex-start;
    }

    .kanjis-big-box {
      display: flex;
      flex-wrap: wrap;
      height: 79%;
      overflow: scroll;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 0 15px;
      .no-kanjis {
        color: #979797;
        justify-self: flex-start;
        margin: 15px auto;
        width: fit-content;
        height: fit-content;
        font-family: $default-font-family;
        font-weight: 700;
        font-size: 12px;
      }
    }
  }
 
}