@import "../../assets/global.scss";

.help-page-wrapper {
  @include center;
  width: 100vw;
  height: calc(100vh - 70px);
  margin-top: 70px;
  background-color: $bg-color;
  position: relative;

  >.help-box {
    @include center;
    margin-top: 20px;
    width: 90%;
    height: 90%;
    background-color: #fff;
    border-radius: 25px;

    >.title {
      margin: 15px 0 5px 0;
      font-size: 15px;
      font-weight: 700;
      font-family: $default-font-family;
    }

    >.bar {
      margin: 0;
    }

    a {
      margin-top: 8px;
    }
  }
}