@import "../../assets/global.scss";

.modal-answer-wrapper {
  @include center;
  position: absolute;
  top: 0;
  left: 0;

  .modal-answer-bg {
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .modal-answer {
    @include center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 170px;
    height: 75px;
    top: 8%;
    z-index: 6;
    border-radius: 18px;
    box-shadow: 2px 4px 6px 1px rgba(0, 0, 0, 0.25);

    > h1 {
      margin: 15px 0 10px 0;
      font-family: $default-font-family;
      font-size: 20px;
      font-weight: bold;
      width: 80%;
      text-align: center;
      color: $page-title-color;
    }

    > .button-wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 80%;
      height: 60%;

      > button {
        margin: auto;
        color: #fff;
        border: none;
        border-radius: 20px;
        background-color: $button-color;
        width: 100px;
        height: 30px;
        font-size: 15px;
        font-weight: 700;
      }
    }
  }
}
