$bg-color: #FFD7B2;
$auth-bg-color: #FD906E;
$button-color: #FF4C13;
$page-title-color: #FF612F;
$kanji-bg-color: #FFAC92;
$dropdown-bg-color: #FF5621;
$dropdown-item-color: #FF9675;
$kanji-corner-color: #D9D9D9;
$sign-up-in-button: #0086E7;
$icon-profile-color: #757575;
$placeholder-color: #A7A7A7;
$placeholder-font-size: 14px;
$title-font-size: 100px;
$title-font-family: 'Gurajada';
$default-font-family: 'Roboto';

@mixin wrapper {
  background-color: $bg-color;
  min-width: 100vw;
  min-height: 100vh;
}

@mixin center {
  display:flex;
  flex-direction: column;
  align-items: center;
};

@mixin image-spec {
  width: 77px;
  height: 77px;
  border-radius: 50%;
  object-fit: cover;
};

@mixin input-spec {
  height: 40px;
  width: 80%;
  border-radius: 25px;
  border: none;
  font-family: $default-font-family;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
};

@mixin button-spec {
  border-radius: 20px;
  border: none;
  font-size: 16px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin box {
  border-radius: 14px;
  box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
}

*{
  box-sizing: border-box;

  #root{
    min-height: 100%;
    min-width: 100%;
  }
}